.main-layout > .header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 64px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 transparent;
}

.main-layout.home-layout > .home-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.main-layout > .header > .header-row {
    max-width: 100%;
    padding: 0 24px;
    margin: auto;
    transition: max-width 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-layout.home-layout > .header > .header-row {
    max-width: 1280px;
}

.main-layout > .header .header-logo {
    display: flex;
    align-items: center;
    height: 64px;
    font-size: 16px;
    line-height: 64px;
    color: #fff;
    text-decoration: none;
}

.main-layout > .header .header-logo > img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.main-layout > .header .header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-layout .header .ant-menu.ant-menu-horizontal {
    background: transparent;
    border-bottom: none;
}

.main-layout .header .ant-menu.ant-menu-horizontal > .ant-menu-item a {
    color: #fff;
}

.main-layout .header .header-menu .ant-menu-horizontal > .ant-menu-item:hover,
.main-layout .header .header-menu .ant-menu-horizontal > .ant-menu-item.ant-menu-item-selected {
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid transparent;
}

.main-layout .header .ant-menu-horizontal > .ant-menu-item,
.main-layout .header .ant-menu-horizontal > .ant-menu-submenu {
    min-width: 40px;
    height: 64px;
    margin-right: 12px;
    margin-left: 12px;
    line-height: 60px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
