# Database
DATABASE_URL=postgresql://root:root@localhost:5432/postgres
# Better Auth
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=c9b7a6433b760a7938dda1468f3b897b456a4331cd1672a6b08938ecbfeea8dd
