# ========================================================================
# Next
# ========================================================================
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
# ========================================================================
# Payload
# ========================================================================
DATABASE_URL=postgresql://root:root@localhost:5432/me
PAYLOAD_SECRET=9HP8KELgsDhRY9oxpnqF8ibpkW7MnwUV
# ========================================================================
# Auth
# ========================================================================
BETTER_AUTH_SECRET=9HP8KELgsDhRY9oxpnqF8ibpkW7MnwUV
# ========================================================================
# SMTP
# ========================================================================
SMTP_HOST=xxx
SMTP_PORT=xxx
SMTP_USER=xxx
SMTP_PASS=xxx
SMTP_FROM=xxx
SMTP_NAME=xxx
# ========================================================================
# AI
# ========================================================================
APP_AI_DEEPSEEK_API_KEY=xxx
